input[type=range]{
    -webkit-appearance: none;
    width: 95%;
    height:2px		
}

input[type=range]::-webkit-slider-runnable-track {
    width: 80%;
    height: 5px;
    margin-top:100px;	
    background: #ccc;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 32%;
    background: grey;
    margin-top: -14px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background:lime ;
}
