@font-face {
    font-family: 'Robotothin';
    src: url('../fonts/Roboto-Thin-webfont.eot');
    src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
         url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Thin-webfont.svg#../fonts/Robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
	}
.leftPanel1{
	top: 62px;
	position: absolute;
	height: 92%;
	background: #f5f5f5;
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	transition: all 0.3s;
	overflow: hidden;
	}
.leftPanel2{
	transform: translateX(-1%);
	-webkit-transform: translateX(-1%);
	transition: all 0.3s;
	margin: -6px;
	width: 80%;
	top: 62px;
	position: absolute;
	height: 92%;
	background: #f5f5f5;
	position: absolute;
	box-shadow: 1px 2px 4px #9e9e9e;
	}

#innerpanelText{
	font-family: Robotothin;
	padding: 40px;
	}

/*.teachersName{
	margin-top: 90px;
	background-color: #26abe2;
	margin: -3px -10px 0 -10px;
	padding: 8px 0;
	text-align: center;
	font-family: arial;
	color: #fff;
	box-shadow: 2px 3px 4px #9e9e9e;
	}*/
#option{
	margin: 15px 0 13px 0;
	padding: 2px 0 9px 20px;
}
.hr1{
	border-top: 1px solid #e0e0e0;
	margin: 10px 0;
	}
.classWrapper{
	margin-top: 10px;
	}
.addGroup{
	padding: 15px;
	max-height: 50px;
	text-align: center;
	vertical-align: middle;
	background-color: #e0e0e0;
	margin: 0 0 1px 0;
	}
#header{
	/*display:none;*/
	position: fixed;
	width: 100%;
	background-color: #135571;
	color: #fff;
	font-family: arial;
	z-index: 1;
	}
.menuIcon{
/*	border: 1px solid #fff;*/
	padding: 17px;	
	vertical-align: middle;
	}
.optionIcon{
	vertical-align: middle;
	float: right;
	padding: 17px;	
	}
#navbar{
	top: 56px;
	position: relative;
	background-color: #26abe2;
	padding: 8px;
	text-align: center;
	font-family: arial;
	color: #fff;
	box-shadow: 2px 3px 4px #9e9e9e;
	}
#subContainer{
	margin-top: 70px;
	}
#rollnoPage{
	display: block; /*display none here too*/
	}
#rollno{
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 1px 2px 4px #9e9e9e;
	text-align: center;
	color: #878787;
	font-size: 50px;
	font-family: Robotothin;
	margin: 20px 10px;
	}
#buttons{
	width: 300px;
	margin: 30px auto 0 auto;
/*	border: 1px solid #000;*/
	}
.present{
	background-color: #4CAF50;
	padding: 1px 39px;
	display: inline-block;
	margin: 0 5px;
	box-shadow: 1px 2px 4px #9e9e9e;
	border-radius: 2px;
	}
.absent{
	background-color:#ff4444;
	display: inline-block;
	margin: 0 5px;
	padding: 8.5px 46px;
	box-shadow: 1px 2px 4px #9e9e9e;
	border-radius: 2px;
	}
#newGroupForm{
	display: none;
	color: #878787;
	margin: 20px auto;
	padding: 0 20px;
	font-family: sans;
	}
.faculty{
	margin: 10px 33px 10px 29px;
}
.section{
	margin: 10px 31px 10px 29px;
}
.year{
	margin: 10px 57px 10px 29px;
	}
 .semester{
 	margin: 10px 17px 10px 29px;
 }
  .batch{
  	margin: 10px 45px 10px 29px;
  }
.subject, .college{
	margin: 10px 30px 10px 29px;
	}
.subjectInput, .collegeInput{
  	border-bottom: 1px solid #26abe2;
  	border-top: 0 solid #f5f5f5;
  	border-left: 0 solid #f5f5f5;
  	border-right: 0 solid #f5f5f5;
	width: 50%;
	padding: 8px;
	background: #f5f5f5;
	}
input[type=text]:focus{
	outline: 0;
	}
.selectOpt{
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 2px;
	right: 10px;
	box-shadow: 1px 2px 4px #9e9e9e;
	text-align: center;
	color: #878787;
	font-size: 20px;
	margin: 5px auto;
	padding: 6px;
	font-family: sans;
	}
.addButton{
	background: transparent;
	outline: 0;
	border: 0;
 	color: #878787;
 	margin-left: 24px;
 	font-size: 16px; 
 	padding: 8px;
 	font-weight: bold;
	}
.cancelButton{
	background: transparent;
	outline: 0;
	border: 0;
 	color: #878787;
 	margin-right: 24px;
 	font-size: 16px; 
 	padding: 8px;
 	float: right;
 	font-weight: bold;
	}
/*this property is for attendance of overall section*/
#section-Rollno{
	display: none; 
}
.table1{
	padding-top: 20px;
	font-family: sans-serif;
	margin: 40px auto;
	color:  #878787;
	width: 280px;
}
.tr1, .tr2, .tr3, .tr4, .tr5, .tr6{
	text-align: right;
}
.td1{
	background-color:#FFF;
	text-align: center;
	border: 1px solid #878787;
	width: 20px;
	border-radius: 60%;
	display: inline-block;
	margin: 10px 5px;
	padding: 2px;
}
/*the property is for attendance of overall section ends here*/
